{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% comment %} <div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/classroom">classroom</a>
    </li>
  </ul>
</div> {% endcomment %}

<nav class="navbar navbar-dark bg-dark">
  <ul class="nav bg-dark">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/classroom">classroom</a>
    </li>
  </ul>
</nav>
